// index.html
.page__body {
  .center-horizontal();

  display: flex;
  flex-direction: column;
  min-height: 100%;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 768px;
  }

  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.body__header,
.body-catalog__header,
.body-form__header {
  .center-horizontal();
}

.body__header {
  @media (min-width: @desktop-width) {
    margin-bottom: 36px;
  }
}

.body__main,
.body-catalog__main,
.body-form__main {
  flex-grow: 1;
}
