// index.html
.page__body {
  .center-horizontal();

  width: 320px;
  @media (min-width: @tablet-width) {
    width: 768px;
  }
  @media (min-width: @desktop-width) {
    width: 1440px;
  }
}

.body__header,
.body-catalog__header,
.body-form__header {
  margin-bottom: 14px;
  margin-top: 13px;
  @media (min-width: @tablet-width) {
    margin-top: 25px;
    margin-bottom: 65px;
  }
  @media (min-width: @desktop-width) {
    margin-top: 55px;
    margin-bottom: 110px;
  }
}

.body-catalog__header,
.body-form__header {
  @media (min-width: @desktop-width) {
    margin-bottom: 74px;
  }
}
