.button {
  display: block;
  width: 280px;
  .center-horizontal();
  .font-mixin("Oswald", 400, normal, 16px, 20px);
  background-color: #68b738;
  padding: 10px 44px 10px 44px;
  text-decoration: none;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;
}
