.button {
  &--primary {
    .button-basic();
    background-color: @button-primary-color;
    color: @color-white;
    transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;

    &:hover {
      background-color: @basic_green-2;
    }

    &:active {
      background-color: @basic_green-2;
      color: fade(@color-white, 30%);
    }
  }

  &--secondary {
    .button-basic();
    background-color: @button-secondery-color;
    color: @color-special_dark-gray;
    transition: background-color 0.5s ease-in-out;

    &:hover {
      background-color: @basic_grey-2;
    }

    &:active {
      background-color: @basic_grey-2;
    }
  }
}
