.add-info {
  .center-horizontal();

  width: 280px;
  padding-top: 13px;
  padding-bottom: 18px;
  border-top: 1px solid @line-almost-white;

  @media (min-width: @tablet-width) {
    width: 708px;
    padding: 25px 37px 28px 37px;
    border-left: 1px solid @line-almost-white;
    border-right: 1px solid @line-almost-white;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 20px 40px;
    gap: 25px;
  }

  @media (min-width: @desktop-width) {
    width: 895px;
    padding: 15px 0 16px;
    margin-left: 0;
    display: flex;
    align-items: center;
    border-left: none;
    border-right: none;
  }

  &:last-child {
    border-bottom: 1px solid @line-almost-white;
  }

  &__name {
    .font-oswald(16px, 16px);

    text-transform: uppercase;
    color: @color-dark-gray;
    margin-bottom: 13px;

    @media (min-width: @tablet-width) {
      .font-oswald(20px, 20px);

      margin: 0;
    }
  }

  &__wrapper {
    .font-lato(14px, 14px);

    color: @color-special_dark-gray;
    display: flex;
    justify-content: space-between;
    margin-bottom: 14px;

    @media (min-width: @tablet-width) {
      .font-lato(16px, 20px);

      align-items: flex-end;
      margin: 0;
      justify-content: flex-end;
      gap: 49px;
      padding-right: 3px;
      height: 24px;
    }

    @media (min-width: @desktop-width) {
      width: 285px;
      justify-content: space-between;
      margin-left: auto;
      margin-right: 13px;
    }
  }

  &__button {
    br {
      display: none;
    }

    @media (min-width: @tablet-width) {
      grid-column: span 2;
      padding: 10px;
      font-size: 16px;
      line-height: 20px;

      br {
        display: block;
      }
    }

    @media (min-width: @desktop-width) {
      width: 244px;

      br {
        display: none;
      }
    }
  }
}
