.main__services {
  .center-horizontal();

  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.services {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }

  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}
