.main__hero {
  @media (min-width: @tablet-width) {
    .center-horizontal();
  }
}

.hero {
  position: relative;
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  padding-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    align-items: flex-start;
    padding: 0;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
  }

  &__title {
    text-align: center;
    color: @color-white;
    margin-bottom: 25px;

    @media (min-width: @tablet-width) {
      width: 420px;
      text-align: left;
      margin-left: 90px;
      margin-bottom: 40px;
      color: @color-black;
    }
    @media (min-width: @desktop-width) {
      margin-left: 80px;
    }
  }
  &__lead {
    .font-oswald(14px, 14px);

    text-align: center;
    color: #ffffff;
    margin-bottom: 29px;
    text-transform: uppercase;
    @media (min-width: @tablet-width) {
      .font-oswald(20px, 20px);
      text-align: left;
      color: @color-black;
      margin-left: 90px;
    }
    @media (min-width: @desktop-width) {
      margin-left: 80px;
      margin-bottom: 82px;
    }
  }
  &__img {
    display: block;
    margin-bottom: 3px;
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
  &__img-wrapper {
    @media (min-width: @desktop-width) {
      position: absolute;
      top: -81px;
      left: 447px;
    }
  }
  &__bg-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 320px;
    min-height: 302px;
    background-image: url(../../img/index-bg-img-1.png);
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
    @media (min-resolution: 2dppx) {
      background-image: url(../../img/index-bg-img-1@2x.png);
      background-size: 320px auto;
    }
    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      background-color: @bg-transparent-overlay;
      z-index: 2;
    }
    @media (min-width: @tablet-width) {
      display: none;
    }
    @media (min-width: @desktop-width) {
      display: block;
      position: absolute;
      width: 720px;
      min-height: 694px;
      background-image: url("../../img/index-background-desktop-1.png");
      background-color: @color-black;
      top: -254px;
      left: 610px;
      @media (min-resolution: 2dppx) {
        background-image: url("../../img/index-background-desktop-1@2x.png");
        background-size: 720px auto;
      }
    }
  }
  &__button {
    width: 280px;
    @media (min-width: @tablet-width) {
      position: absolute;
      left: 90px;
      top: 230px;
      width: 244px;
    }
    @media (min-width: @desktop-width) {
      position: static;
      margin-left: 80px;
      margin-bottom: 266px;
    }
  }
}

.main__services {
  .center-horizontal();

  margin-bottom: 20px;
  @media (min-width: @tablet-width) {
    margin-bottom: 45px;
  }
  @media (min-width: @desktop-width) {
    margin-bottom: 71px;
  }
}

.services {
  width: 280px;

  @media (min-width: @tablet-width) {
    width: 708px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
  }
}

.programs {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: @tablet-width) {
    gap: 30px;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 80px;
  }
  &__item {
    background-color: @basic_grey;
    padding: 30px 33px 18px 20px;

    @media (min-width: @tablet-width) {
      padding: 77px 53px 57px;
    }
    @media (min-width: @desktop-width) {
      padding: 47px 61px 59px 52px;
    }
  }
  &__wrapper {
    display: flex;
    gap: 20px;
    align-items: center;
    margin-bottom: 22px;
    @media (min-width: @tablet-width) {
      position: relative;
    }
    @media (min-width: @desktop-width) {
      position: static;
      gap: 62px;
    }
  }
  &__box {
    display: flex;
    align-items: center;
    &:hover .programs__link-icon {
      margin-left: 0;
    }
    &:active .programs__link-icon {
      margin-left: 0;
    }
    &:active {
      opacity: 0.3;
    }
  }
  &__icon-1 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: @basic_green;
    &::before {
      content: "";
      position: absolute;
      bottom: 5px;
      left: 5px;
      width: 36px;
      height: 50px;
      background-image: url("../../img/cat-slim.svg");
      background-repeat: no-repeat;
      background-position: center;
    }
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 200px;
      &::before {
        content: "";
        bottom: 17px;
        left: 30px;
        width: 140px;
        height: 194px;
        background-size: 140px 194px;
      }
    }
    @media (min-width: @desktop-width) {
      position: relative;
      width: 100px;
      height: 100px;
      &::before {
        content: "";
        bottom: 9px;
        left: 15px;
        width: 70px;
        height: 97px;
        background-size: 70px 97px;
      }
    }
  }
  &__icon-2 {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background-color: @basic_green;
    &::before {
      content: "";
      position: absolute;
      left: -9px;
      bottom: 11px;
      width: 67px;
      height: 29px;
      background-image: url(../../img/cat-slim-2.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 67px 29px;
    }
    @media (min-width: @tablet-width) {
      position: absolute;
      top: 0;
      right: 0;
      width: 200px;
      height: 200px;
      &::before {
        content: "";
        left: -34px;
        bottom: 44px;
        width: 268px;
        height: 112px;
        background-size: 268px 112px;
      }
    }
    @media (min-width: @desktop-width) {
      position: relative;
      width: 100px;
      height: 100px;
      &::before {
        content: "";
        left: -17px;
        bottom: 22px;
        width: 134px;
        height: 56px;
        background-size: 134px 56px;
      }
    }
  }
  &__title {
    text-transform: uppercase;
    @media (min-width: @tablet-width) {
      margin-bottom: 24px;
    }
    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
  &__text {
    padding-bottom: 22.5px;
    border-bottom: 1px solid @line-medium_light-gray;
    margin-bottom: 19.5px;
    @media (min-width: @tablet-width) {
      border-bottom: none;
      padding: 0;
      width: 340px;
      margin-bottom: 48px;
    }
    @media (min-width: @desktop-width) {
      width: 457px;
      margin-bottom: 27px;
    }
  }
  &__link {
    .font-oswald(16px, 16px);
    color: @color-black;
    text-decoration: none;
    text-transform: uppercase;
    padding-right: 15px;
    background-color: #f2f2f2;
    position: relative;
    z-index: 3;
    @media (min-width: @tablet-width) {
      .font-oswald(20px, 30px);

      padding-right: 25px;
    }
  }
  &__link-icon {
    transition: margin-left 0.5s ease-in-out;
    margin-left: -8px;
    position: relative;
    z-index: 1;
  }
}

.main__features {
  .center-horizontal();

  margin-bottom: 49px;

  @media (min-width: @tablet-width) {
    width: 46.5px;
  }
}

.features {
  width: 280px;
  @media (min-width: @tablet-width) {
    width: 708px;
  }
  @media (min-width: @desktop-width) {
    width: 1220px;
  }
  &__title {
    margin-bottom: 40px;
    @media (min-width: @tablet-width) {
      margin-bottom: 32px;
    }
  }
  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    @media (min-width: @tablet-width) {
      column-gap: 139px;
      row-gap: 37px;
      counter-reset: 0;
    }
    @media (min-width: @desktop-width) {
      gap: 0;
      flex-wrap: nowrap;
      justify-content: space-between;
    }
  }
  &__item {
    position: relative;
    width: 280px;
    min-height: 60px;
    display: flex;
    align-items: center;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 60px;
      height: 60px;
      background-color: @basic_green;
      background-repeat: no-repeat;
      background-position: center;
    }
    &:first-child::before {
      background-image: url(../../img/features-img-1.svg);
    }
    &:nth-child(2)::before {
      background-image: url(../../img/features-img-2.svg);
    }
    &:nth-child(3)::before {
      background-image: url(../../img/features-img-3.svg);
    }
    &:nth-child(4)::before {
      background-image: url(../../img/features-img-4.svg);
    }

    @media (min-width: @tablet-width) {
      width: 249px;
      min-height: 280px;
      counter-increment: number;
      &::before {
        top: 40px;
        left: 0;
      }
      &::after {
        content: counter(number);
        .font-oswald(280px, 280px);

        position: absolute;
        top: 0;
        right: 10px;
        z-index: -1;
        color: @basic_grey-2;
      }
    }
    @media (min-width: @desktop-width) {
      width: auto;
    }
  }
  &__text {
    width: 200px;
    margin-left: auto;
    @media (min-width: @tablet-width) {
      width: 245px;
      margin: 0;
      margin-top: auto;
      margin-bottom: 57px;
    }
  }
}

.real-case {
  width: 320px;
  background-color: @basic_grey-2;
  padding: 25px 20px 40px 20px;
  @media (min-width: @tablet-width) {
    width: 768px;
    background-color: @color-white;
    padding: 0;
    padding-top: 45.5px;
    border-top: 1px solid #e6e6e6;
  }
  @media (min-width: @desktop-width) {
    width: 1440px;
    background-color: @color-white;
    padding: 0 110px 75px 110px;
    border-top: none;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 136px 166px 221px;
    background-image: url(../../img/index-rec-bg-img-desktop.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  &__title {
    margin-bottom: 40px;
    @media (min-width: @tablet-width) {
      margin-bottom: 60px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: @desktop-width) {
      margin: 0;
      padding: 0;
      align-self: start;
    }
  }
  &__text {
    margin-bottom: 20px;
    @media (min-width: @tablet-width) {
      margin-bottom: 55px;
      padding-left: 30px;
      padding-right: 30px;
    }
    @media (min-width: @desktop-width) {
      width: 436px;
      align-self: end;
      margin: 0;
      padding: 0;
    }
  }
  &__example {
    margin-bottom: 34px;
    @media (min-width: @tablet-width) {
      margin-bottom: 0;
    }
  }
  &__expenses {
    margin-bottom: 20px;
    @media (min-width: @tablet-width) {
      margin-bottom: 15px;
    }
    @media (min-width: @desktop-width) {
      margin-bottom: 0;
    }
  }
  &__wrapper {
    @media (min-width: @tablet-width) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 30px;
      padding-right: 30px;
      margin-bottom: 104px;
    }

    @media (min-width: @desktop-width) {
      flex-direction: column;
      padding: 0;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 60px;
      align-self: end;
      margin: 0;
    }
  }
  &__cat-transform {
    @media (min-width: @desktop-width) {
      grid-row: 1 / 4;
      grid-column: 2 / 3;
    }
  }
}

.example {
  &__list {
    display: flex;
    justify-content: space-between;
    @media (min-width: @tablet-width) {
      justify-content: flex-start;
      gap: 43px;
    }
    @media (min-width: @desktop-width) {
      justify-content: flex-start;
      gap: 42px;
    }
  }
  &__item {
    position: relative;
    width: 124px;
    min-height: 56px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid @line-light-gray;
    &:first-child .example__description {
      padding-left: 12px;
      padding-right: 12px;
    }
    @media (min-width: @tablet-width) {
      width: 162px;
      min-height: 72px;
      &:first-child .example__description {
        width: 114px;
        left: 24px;
        padding: 0;
      }
    }
  }

  &__title {
    .font-oswald(24px, 24px);

    color: @color-black;
    @media (min-width: @tablet-width) {
      .font-oswald(30px, 37px);
    }
  }
  &__description {
    .font-lato(12px, 12px);

    position: absolute;
    width: 87px;
    text-align: center;
    left: 18.5px;
    bottom: -15px;
    background-color: @basic_grey-2;
    text-transform: lowercase;
    color: @color-special_dark-gray;
    @media (min-width: @tablet-width) {
      .font-lato(14px, 14px);

      width: 142px;
      left: 10px;
      bottom: -5px;
      background-color: @color-white;
    }
    @media (min-width: @desktop-width) {
      background-color: #f2f2f2;
    }
  }
}

.expenses {
  .font-oswald(14px, 20px);

  color: @color-black;
  text-align: center;
  text-transform: uppercase;
  @media (min-width: @tablet-width) {
    .font-oswald(20px, 20px);

    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 63px;
  }
}

.cat-transform {
  display: flex;
  @media (min-width: @tablet-width) {
    justify-content: center;
    padding-bottom: 101px;
    background-image: url(../../img/index-rec-bg-img-tablet.png);
    background-repeat: no-repeat;
    background-position: bottom;
  }
  @media (min-width: @desktop-width) {
    background: none;
    padding: 0;
    width: 560px;
    height: 512px;
    align-self: start;
    justify-self: end;
  }
  &__image {
    display: block;
  }
}

.offer {
  @media (min-width: @desktop-width) {
    position: relative;
  }
  &__wrapper {
    width: 320px;
    padding: 26px 20px;
    display: flex;
    align-items: center;
    @media (min-width: @tablet-width) {
      width: 768px;
      padding: 60px 70px;
      justify-content: space-between;
    }
    @media (min-width: @desktop-width) {
      position: absolute;
      top: 95px;
      left: 110px;
      width: 565px;
      padding: 60px 78px 60px 80px;
      justify-content: space-between;
      background-color: @color-white;
    }
  }
  &__title {
    width: 140px;
    text-transform: uppercase;
    @media (min-width: @tablet-width) {
      width: 163px;
    }
    @media (min-width: @desktop-width) {
      line-height: 26px;
    }
  }
  &__address {
    width: 140px;
    .font-lato(14px, 20px);
    @media (min-width: @tablet-width) {
      .font-lato(16px, 20px);

      width: 157px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      min-height: 80px;
      text-align: end;
    }
    @media (min-width: @desktop-width) {
      text-align: start;
    }
  }
  &__map-img {
    display: block;
  }
  &__map iframe {
    width: 100%;
    border: none;
    display: block;
    height: 362px;
    @media (min-width: @tablet-width) {
      height: 400px;
    }
  }
}
